<app-menu></app-menu>
<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">{{ title }} </span>
  </div>
</div>
<div class="seperator"></div>
<br />
<div
  *ngIf="isLoaded == true && barChartData && pieChartData"
  style=" text-align: center; font-weight: 700; font-size: x-large;"
>
  <div style="text-align: center;">
    Year-to-Date Spend: {{ yearToDate | currency }}
  </div>
  <br />
  <div style="display: inline-block; width: 50%;">
    Request Total by User
    <canvas
      baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [legend]="barChartLegend"
      [chartType]="barChartType"
      [colors]="barChartColors"
    >
    </canvas>
  </div>
  <div style="display: inline-block; width: 50%;">
    Request Total by Vendor
    <canvas
      baseChart
      [data]="pieChartData"
      [labels]="pieChartLabels"
      [chartType]="pieChartType"
      [colors]="pieChartColors"
    ></canvas>
  </div>
</div>
