<app-menu></app-menu>
<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">{{ title }}</span>
  </div>
</div>

<p *ngIf="!request">Loading...</p>

<div class="seperator"></div>
<table
  *ngIf="request"
  class="table table-sm table-striped table-borderless table-hover"
  style="margin-bottom: 0px;"
>
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Status</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ request.id }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.status }}</td>
      <td>{{ request.total | currency }}</td>
    </tr>
  </tbody>
</table>
<div class="lineadd">
  Add Lines
  <div *ngIf="request.status == 'New'" style="display: inline-block;">
    <a (click)="addPressed()">
      <img
        class="default"
        src="assets/add-icon.png"
        width="20"
        height="20"
        title="Add New"
        style="position: relative; top: -2px;"/>
      <img
        class="hover"
        src="assets/add-icon-hover.png"
        width="20"
        height="20"
        title="Add New"
        style="position: relative; top: -2px;"
    /></a>
  </div>
</div>

<table
  *ngIf="isAddPressed"
  class="table table-sm table-striped table-borderless table-hover"
  style="margin-bottom: 0;"
>
  <thead class="thead-dark">
    <tr *ngIf="isAddPressed">
      <th>
        Select Product:
        <select [(ngModel)]="lineitem.product" style="width: 250px;">
          <option *ngFor="let p of products" [ngValue]="p">{{ p.name }}</option>
        </select>
      </th>
      <th>
        Select Quantity:
        <input [(ngModel)]="lineitem.quantity" type="number" />
      </th>
      <th>
        <button (click)="saveLine()" class="btn btn-sm btn-primary">
          Add Line
        </button>
        |
        <button (click)="addPressed()" class="btn btn-sm btn-secondary">
          Cancel
        </button>
      </th>
      <th style="width: 30%;"></th>
    </tr>
  </thead>
</table>

<div *ngIf="lineitems.length == 0" class="nolines">
  No line items yet. Click above to create a new line item for this request.
</div>

<table
  *ngIf="lineitems.length > 0"
  class="table table-sm table-striped table-borderless table-hover"
>
  <thead class="thead-dark">
    <tr>
      <th style="width:10%">ID</th>
      <th style="width:35%">Product</th>
      <th style="width:15%">Quantity</th>
      <th style="width:15%">Price</th>
      <th style="width:15%">Line Total</th>
      <th style="width:10%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of lineitems">
      <td>{{ l.id }}</td>
      <td *ngIf="lineItemUpdate.id != l.id">{{ l.product.name }}</td>
      <td *ngIf="lineItemUpdate.id == l.id">
        <select
          [(ngModel)]="lineItemUpdate.product"
          style="width: 250px; height: 23px"
          [compareWith]="compProduct"
        >
          <option *ngFor="let p of products" [ngValue]="p">{{ p.name }}</option>
        </select>
      </td>
      <td *ngIf="lineItemUpdate.id != l.id">{{ l.quantity }}</td>
      <td *ngIf="lineItemUpdate.id == l.id">
        <input [(ngModel)]="lineItemUpdate.quantity" type="number" style="width: 70px; height: 23px;" required/>
      </td>
      <td>{{ l.product.price | currency }}</td>
      <td>{{ l.product.price * l.quantity | currency }}</td>
      <td>
        <div *ngIf="request.status == 'New'">
          <div *ngIf="lineItemUpdate.id == 0 || l.id != lineItemUpdate.id" style="display: inline-block;">
            <a (click)="updateLineItem(l.id)">
              <img
                class="default"
                src="assets/pencil-icon.png"
                width="20"
                height="20"/>
              <img
                class="hover"
                src="assets/pencil-icon-hover.png"
                width="20"
                height="20"
            /></a>
            |
          </div>
          <div *ngIf="lineItemUpdate.id != 0 && l.id == lineItemUpdate.id" style="display: inline-block;">
            <a (click)="saveUpdatedLine()">
              <img
                class="default"
                src="assets/update.png"
                width="20"
                height="20"/>
              <img
                class="hover"
                src="assets/update-hover.png"
                width="20"
                height="20"
            /></a>
            |
          </div>
          <a (click)="delete(l.id)"
            ><img
              class="default"
              src="assets/delete.png"
              width="20"
              height="20"/>
            <img
              class="hover"
              src="assets/delete-hover.png"
              width="20"
              height="20"
          /></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div style="margin-left: 10px;">
  <div
    *ngIf="lineitems.length != 0 && request.status == 'New'"
    style="display: inline-block;"
  >
    <button (click)="submitForReview()" class="btn btn-sm btn-primary">
      Submit for Review</button
    >&nbsp;|&nbsp;
  </div>
  <div
    *ngIf="lineitems.length != 0 && request.status == 'Rejected'"
    style="display: inline-block;"
  >
    <button (click)="updateRequest()" class="btn btn-sm btn-danger">
      Update Request</button
    >&nbsp;|&nbsp;
  </div>
  <div style="display: inline-block;">
    <button (click)="backClicked()" class="btn btn-sm btn-secondary">
      Back
    </button>
  </div>
</div>
