nav {
  background-color: #acacac;
  width: 100%;
}
nav ul{
  margin-top: 20px;
}
nav li {
  display: inline;
}
nav a {
  color: white;
  text-decoration: none;
  padding-bottom: 5px;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
nav a:hover {
  background: linear-gradient(to bottom, #acacac, rgb(169,29,49) 50%);
  position: relative;
  top: 1px;
}
