<nav>
  <div style="height: 48px; width: 100%;">
    <table width="100%">
      <tr>
        <td style="width: 120px; padding-left: 3px;">
          <img
            src="/assets/max.png"
            width="113px"
            height="20px"
            style="float: left;"
          />
        </td>
        <td>
          <ul style="text-align: left; font-weight:700;">
            <li *ngFor="let m of menuItems" title="{{ m.tooltip }}">
              <a routerLink="{{ m.href }}">{{ m.display }}</a>
            </li>
          </ul>
        </td>
        <td>
          <ul style="text-align: right; font-weight:700; padding-right: 5px;">
            <li>
              <a (click)="logout()">Logout</a>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <div
    style="padding-right:0px; width: 100%; height: 10px; background-color: rgb(169, 29, 49)"
  ></div>
</nav>
