<div class="body">
  <div class="login" style="font-size: xx-large;">
    <img src="/assets/max.png" style="width: 400px; height:70px" /><br />
    Purchase Request System<br /><br />
    <div class="fields">
      <table width="100%">
        <tr>
          <td>Username:</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
          <td>Password:</td>
          <td><input type="text" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <br>
                <button class="btn btn-sm btn-danger">Login</button>
            </td>
        </tr>
      </table>
    </div>
  </div>
</div>
