<app-menu></app-menu>
<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">{{ title }}</span>
  </div>
</div>

<p *ngIf="!request">Loading...</p>

<div *ngIf="request">
  <div class="seperator"></div>
  <main class="single">
    <table class="table table-sm table-borderless" style="table-layout: fixed;">
      <tr>
        <th style="width: 15%;">User:</th>
        <td>
          <input
            [(ngModel)]="request.user.userName"
            type="text"
            maxlength="255"
            disabled
          />
        </td>
      </tr>
      <tr>
        <th>Description:</th>
        <td>
          <input
            [(ngModel)]="request.description"
            type="text"
            maxlength="100"
            disabled
          />
        </td>
      </tr>
      <tr>
        <th>Justification:</th>
        <td>
          <input
            [(ngModel)]="request.justification"
            type="text"
            maxlength="255"
            disabled
          />
        </td>
      </tr>
      <tr>
        <th>Delivery Mode:</th>
        <td>
          <input [(ngModel)]="request.deliveryMode" type="text" disabled />
        </td>
      </tr>
      <tr>
        <th>Date Needed:</th>
        <td>
          <input [(ngModel)]="request.dateNeeded" type="date" disabled />
        </td>
      </tr>
      <tr>
        <th>Date Submitted:</th>
        <td>
          <input [(ngModel)]="request.submittedDate" type="text" disabled />
        </td>
      </tr>
      <tr>
        <th>Total:</th>
        <td>
          <input [(ngModel)]="request.total" type="text" disabled />
        </td>
      </tr>
      <tr>
        <th>Status:</th>
        <td>
          <input [(ngModel)]="request.status" type="text" disabled />
        </td>
      </tr>
      <tr *ngIf="request.status == 'Rejected'">
        <th>Reason for Rejection:</th>
        <td>
          <textarea
            [(ngModel)]="request.reasonForRejection"
            cols="25"
            rows="3"
            disabled
          ></textarea>
        </td>
      </tr>
      <tr *ngIf="!isDeletePressed">
        <td colspan="2">
          <div
            *ngIf="
              systemSvc.loggedInUser.admin === true ||
              systemSvc.loggedInUser.id == request.user.id && request.status != 'Approved'
            "
            style="display: inline-block;"
          >
            <span
              ><button (click)="deletePressed()" class="btn btn-sm btn-danger">
                Delete
              </button></span
            >
            <span>
              |
              <button
                routerLink="/requests/edit/{{ request.id }}"
                class="btn btn-sm btn-primary"
              >
                Edit
              </button>
              |&nbsp;</span
            >
          </div>
          <span>
            <button (click)="backClicked()" class="btn btn-sm btn-secondary">
              Back
            </button></span
          >
        </td>
      </tr>
      <tr *ngIf="isDeletePressed">
        <td colspan="2" style="color: rgb(169, 29, 49); font-weight: bold;">
          Are you sure you want to delete request "{{ request.description }}"?
          <br />
          <span
            ><button (click)="delete()" class="btn btn-sm btn-danger">
              Confirm
            </button></span
          >
          <span>
            |
            <button (click)="deletePressed()" class="btn btn-sm btn-primary">
              Cancel
            </button></span
          >
        </td>
      </tr>
    </table>
  </main>
</div>
