<app-menu></app-menu>
<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">{{ title }} </span>
    <span>
      <a routerLink="/requests/create">
        <img
          class="default"
          src="assets/add-icon.png"
          width="20"
          height="20"
          title="Add New"
          style="position: relative; top: -2px;"/>
        <img
          class="hover"
          src="assets/add-icon-hover.png"
          width="20"
          height="20"
          title="Add New"
          style="position: relative; top: -2px;"
      /></a>
    </span>
  </div>
</div>
<table
  *ngIf="!isLoading"
  class="table table-sm table-striped table-borderless table-hover"
>
  <thead class="thead-dark">
    <tr>
      <th><a (click)="sortBy('id')">ID</a></th>
      <th><a (click)="sortBy('user')">User</a></th>
      <th><a (click)="sortBy('description')">Description</a></th>
      <th><a (click)="sortBy('justification')">Justification</a></th>
      <th><a (click)="sortBy('dateNeeded')">Date Needed</a></th>
      <th><a (click)="sortBy('deliveryMode')">Delivery Mode</a></th>
      <th><a (click)="sortBy('status')">Status</a></th>
      <th><a (click)="sortBy('total')">Total</a></th>
      <th><a (click)="sortBy('submittedDate')">Submitted</a></th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of requests | sort: sortCriteria:sortOrder">
      <td>{{ r.id }}</td>
      <td>{{ r.user.userName }}</td>
      <td>{{ r.description }}</td>
      <td>{{ r.justification }}</td>
      <td>{{ r.dateNeeded | date }}</td>
      <td>{{ r.deliveryMode }}</td>
      <td>{{ r.status }}</td>
      <td>{{ r.total | currency }}</td>
      <td>
        {{ r.submittedDate | date: "shortDate" }}
        {{ r.submittedDate | date: "mediumTime" }}
      </td>
      <td>
        <a routerLink="/requests/detail/{{ r.id }}"
          ><img
            class="default"
            src="assets/details.png"
            width="20"
            height="20"/>
          <img
            class="hover"
            src="assets/details-hover.png"
            width="20"
            height="20"
        /></a>
        <div
          *ngIf="
            systemSvc.loggedInUser.admin === true ||
            systemSvc.loggedInUser.id == r.user.id
          "
          style="display: inline-block;"
        >
          |
          <a routerLink="/requests/edit/{{ r.id }}"
            ><img
              class="default"
              src="assets/pencil-icon.png"
              width="20"
              height="20"/>
            <img
              class="hover"
              src="assets/pencil-icon-hover.png"
              width="20"
              height="20"
          /></a>
          |
          <a routerLink="/requests/request-lines/{{ r.id }}"
            ><img
              class="default"
              src="assets/lines.png"
              width="20"
              height="20"/>
            <img
              class="hover"
              src="assets/lines-hover.png"
              width="20"
              height="20"
          /></a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
