<app-menu></app-menu>
<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">{{ title }}</span>
  </div>
</div>

<p *ngIf="!request">Loading...</p>

<div class="seperator"></div>
<table
  *ngIf="request"
  class="table table-sm table-striped table-borderless table-hover"
  style="margin-bottom: 0px;"
>
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Description</th>
      <th>Status</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ request.id }}</td>
      <td>{{ request.description }}</td>
      <td>{{ request.status }}</td>
      <td>{{ request.total | currency }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="lineitems.length == 0" class="nolines">
  No line items yet. Click above to create a new line item for this request.
</div>

<table
  *ngIf="lineitems.length > 0"
  class="table table-sm table-striped table-borderless table-hover"
>
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Line Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let l of lineitems">
      <td>{{ l.id }}</td>
      <td>{{ l.product.name }}</td>
      <td>{{ l.quantity }}</td>
      <td>{{ l.product.price | currency }}</td>
      <td>{{ l.product.price * l.quantity | currency }}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!isRejectPressed" style="margin-left: 10px;">
  <span
    ><button (click)="approve()" class="btn btn-sm btn-primary">
      Approve
    </button></span
  >
  <span>
    |
    <button (click)="rejectPressed()" class="btn btn-sm btn-danger">
      Reject
    </button></span
  >
  <span>
    |
    <button (click)="backClicked()" class="btn btn-sm btn-secondary">
      Back
    </button></span
  >
</div>
<div *ngIf="isRejectPressed" style="margin-left: 10px;">
  <span>
    Please enter reason for rejection:<br /><textarea
      [(ngModel)]="request.reasonForRejection"
      cols="25"
      rows="3"
    ></textarea></span
  ><br /><br />
  <span>
    <button (click)="reject()" class="btn btn-sm btn-danger">
      Reject
    </button></span
  >
  <span>
    |
    <button (click)="rejectPressed()" class="btn btn-sm btn-secondary">
      Cancel
    </button></span
  >
</div>
