<app-menu></app-menu>
<div class="component-content">
  <div class="lefthalf">
    <span class="component-title">{{ title }} </span>
  </div>
</div>

<p *ngIf="!product">Loading...</p>

<div *ngIf="product">
  <div class="seperator"></div>
  <main class="single">
    <table class="table table-sm table-borderless" style="table-layout: fixed;">
      <tr>
        <th style="width: 15%;">Vendor:</th>
        <td>
          <select [(ngModel)]="product.vendor" style="width: 250px;" required>
            <option *ngFor="let v of vendors" [ngValue]="v">{{
              v.name
            }}</option>
          </select>
        </td>
      </tr>
      <tr *ngIf="!isImportPressed">
        <th>Part Number:</th>
        <td>
          <input
            [(ngModel)]="product.partNumber"
            type="text"
            maxlength="50"
            required
          />
        </td>
      </tr>
      <tr *ngIf="!isImportPressed">
        <th>Name:</th>
        <td>
          <input
            [(ngModel)]="product.name"
            type="text"
            maxlength="150"
            required
          />
        </td>
      </tr>
      <tr *ngIf="!isImportPressed">
        <th>Price:</th>
        <td>
          <input
            [(ngModel)]="product.price"
            type="number"
            max="9999999999.99"
            step=".01"
            required
          />
        </td>
      </tr>
      <tr *ngIf="!isImportPressed">
        <th>Unit:</th>
        <td>
          <input
            [(ngModel)]="product.unit"
            type="text"
            maxlength="255"
            required
          />
        </td>
      </tr>
      <tr *ngIf="!isImportPressed">
        <th>Photo Path:</th>
        <td>
          <input
            [(ngModel)]="product.photoPath"
            type="text"
            maxlength="255"
            required
          />
        </td>
      </tr>
      <tr></tr>
      <tr *ngIf="isImportPressed">
        <th>File Upload:</th>
        <td>
          <input
            type="file"
            #fileImportInput
            name="File Upload"
            id="txtFileUpload"
            (change)="fileChangeListener($event)"
            accept=".csv"
          />
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button
            *ngIf="!isImportPressed"
            (click)="save()"
            class="btn btn-sm btn-primary"
          >
            Save
          </button>
          <button
            *ngIf="isImportPressed"
            (click)="fileImportSave()"
            class="btn btn-sm btn-primary"
          >
            Save
          </button>
          |
          <button
            *ngIf="!isImportPressed"
            (click)="importPressed()"
            class="btn btn-sm btn-secondary"
          >
            File Import
          </button>
          <button
            *ngIf="isImportPressed"
            (click)="importPressed()"
            class="btn btn-sm btn-danger"
          >
            Cancel
          </button>
          |
          <button (click)="backClicked()" class="btn btn-sm btn-secondary">
            Back
          </button>
        </td>
      </tr>
    </table>
  </main>
</div>
